@import "./reset.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";
@import "./variables/global.scss";

.app {
	min-height: 100vh;

	background-color: var(--color-background);

	font: var(--font-md);
	color: var(--color-base-text);
}

.page-width {
	max-width: 1200px;
	margin: 0 auto;
}