@import "./reset";
@import "./themes/dark";
@import "./themes/light";
@import "./variables/global";

body {
    font: var(--font-md);
}

.app {
    display: grid;
    grid-template-rows: auto 1fr;

    height: 100vh;

    color: var(--color-base-text);

    background-color: var(--color-background);
}

.content-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;

    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;

    background-color: var(--color-background-inverted);
}
