.popover {
    position: relative;

    width: fit-content;
}

.trigger {
    display: flex;

    margin: 0;
    padding: 0;

    border: none;

    background-color: unset;

    cursor: pointer;
}

.panel {
    position: absolute;
    right: 0;
    z-index: 10;

    padding: 16px;

    border-radius: var(--border-radius-default);

    background-color: var(--color-modal);
}
