:root {
    --font-family: "Noto Sans KR", sans-serif;
    --font-heading-weight: 700;
    --font-body-weight: 400;

    --font-size-sm: 12px;
    --font-line-sm: 16px;
    --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family);

    --font-size-md: 16px;
    --font-line-md: 24px;
    --font-md: var(--font-size-md) / var(--font-line-md) var(--font-family);
    
    --font-size-lg: 24px;
    --font-line-lg: 36px;
    --font-lg: var(--font-size-lg) / var(--font-line-lg) var(--font-family);
    
    // Sizes
    --max-page-width: 1200px;
    --max-sidebar-width: 300px;
    --border-radius-default: 8px;
    
    // Animation
    --duration-short: 150ms;
    --duration-default: 250ms;
    --duration-long: 500ms;
    
    // Indexes
    --z-index-modal: 1;

    // Colors
    --color-overlay: rgb(0 0 0 / 50%);
    --color-placeholder: rgb(158 158 158);

    // Controls
    --controls-height: 48px;
}
