.articleImage {
    margin: 0 auto 24px;
}

.articleTitle {
    margin-bottom: 16px;

    font: var(--font-xxl);
}

.articleSubtitle {
    margin-bottom: 24px;

    font: var(--font-lg);
}

.articleInfo {
    margin-bottom: 8px;
}

.articleBlock {
    margin-top: 24px;
}
