.articleImage {
    margin: 0 auto 24px;
}

.articleTitle {
    margin-bottom: 16px;
}

.articleSubtitle {
    margin-bottom: 24px;
}

.articleInfo {
    display: flex;
    gap: 8px;
    align-items: center;

    margin-bottom: 8px;
}
