.button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px 8px;

    cursor: pointer;
}

.flat {
    margin: 0;
    padding: 0;

    color: var(--color-base-text);

    border: none;

    background: none;

    outline: none;
}

.outline {
    padding: 8px 16px;

    color: var(--color-primary);

    border: 1px solid var(--color-primary);

    background: none;
}
