.sidebar {
    position: relative;

    display: grid;
    grid-template-rows: 1fr auto;

    width: var(--max-sidebar-width);
    height: 100%;

    background-color: var(--color-background-inverted);
}

.main {
    display: flex;
    flex-direction: column;

    padding: 16px;
}

.link {
    display: flex;
    align-items: center;

    padding: 8px 0;
}

.linkIcon {
    height: var(--font-line-md);
    margin-right: 8px;
}

.linkLabel {
    visibility: visible;

    opacity: 1;
}

.bottom {
    display: flex;
    justify-content: center;

    margin: 0 -8px;
    padding: 16px;
}

.bottomItem {
    margin: 0 8px;
}

.toggleButton {
    position: absolute;
    bottom: 40px;
    right: -32px;

    width: 32px;
    height: 40px;

    color: var(--color-secondary);
    font-size: var(--font-size-xl);

    background-color: var(--color-background-inverted);
}

.sidebar.collapsed {
    width: fit-content;

    .main {
        align-items: center;
    }

    .linkIcon {
        height: var(--font-line-xl);
        margin: 0;
    }

    .linkLabel {
        width: 0;

        visibility: hidden;

        opacity: 0;

        transition: var(--duration-default) opacity;
    }

    .bottom {
        flex-direction: column;

        margin: 0;
    }

    .bottomItem {
        margin: 8px 0;
    }
}
