.app_dark_theme {
    --color-background: rgb(17 17 60);
    --color-background-inverted: rgb(52 52 126);
    
    --color-base-text: rgb(185 185 185);
    --color-base-text-inverted: rgb(18 18 18);
    
    --color-primary: rgb(232 210 57);
    --color-primary-inverted: rgb(49 43 3);
    --color-secondary: rgb(168 168 255);
    --color-secondary-hover: rgb(149, 149, 237);
    --color-secondary-inverted: rgb(13 13 73);

    --color-input-background: rgb(17 17 60);
    --color-error: rgb(188, 49, 49);

    --skeleton-color: rgb(52 52 126);
    --skeleton-shadow: rgb(52 52 126);

    --code-background: rgb(52 52 126);
    --code-color: rgb(185 185 185);
    
    --color-card-background: rgb(52 52 126);
    --color-dropdown: rgb(35, 35, 91);
}
