.app_light_theme {
    --color-background: rgb(241 234 234);
    --color-background-inverted: rgb(231, 209, 209);
    
    --color-base-text: rgb(16 16 16);
    --color-base-text-inverted: rgb(16 16 16);

    // --color-primary: rgb(25, 220, 136);
    // --color-primary-inverted: rgb(24 103 69);

    --color-primary: rgb(61 61 163);
    --color-primary-inverted: rgb(50 50 147);
    --color-secondary: rgb(143 80 80);
    --color-secondary-hover: rgb(123, 69, 69);
    --color-secondary-inverted: rgb(92, 52, 52);

    --color-input-background: rgb(241 234 234);
    --color-placeholder: rgb(92, 52, 52);
    --color-error: rgb(58, 17, 17);

    --skeleton-color: rgb(168 168 255);
    --skeleton-shadow: rgb(168 168 255);
    
    --code-background: rgb(168 168 255);
    --code-color: rgb(6 72 97);

    --color-card-background: rgb(231, 209, 209);
    --color-dropdown: rgb(211, 181, 181);
}
