.app_light_theme {
    --color-background: rgb(241 234 234);
    --color-background-inverted: rgb(232 210 57);
    
    --color-base-text: rgb(16 16 16);
    --color-base-text-inverted: rgb(16 16 16);

    // --color-primary: rgb(25, 220, 136);
    // --color-primary-inverted: rgb(24 103 69);

    --color-primary: rgb(232 210 57);
    --color-primary-inverted: rgb(49 43 3);
    --color-secondary: rgb(168 168 255);
    --color-secondary-hover: rgb(155, 155, 239);
    --color-secondary-inverted: rgb(6 72 97);

    --color-input-background: rgb(241 234 234);
    --color-error: rgb(58, 17, 17);

    --skeleton-color: rgb(168 168 255);
    --skeleton-shadow: rgb(168 168 255);
    
    --code-background: rgb(168 168 255);
    --code-color: rgb(6 72 97);

    --color-card-background: rgb(231, 209, 209);
    --color-dropdown: rgb(231, 209, 209);
}
