:root {
	--font-family: 'Noto Sans KR', sans-serif;

	--font-heading-weight: 700;
	--font-body-weight: 400;

	--font-size-md: 16px;
	--font-line-md: 24px;

	--font-size-lg: 24px;
	--font-line-lg: 36px;
}