.profileCard {
    padding: 8px;

    border: 1px solid var(--color-input-background);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 16px;
}
