.h1 {
    margin: 0;

    font: var(--font-xxl);
    font-weight: var(--font-heading-weight);
}

.h2 {
    margin: 0;

    font: var(--font-xl);
    font-weight: var(--font-heading-weight);
}

.h3 {
    margin: 0;

    font: var(--font-lg);
    font-weight: var(--font-heading-weight);
}
