.p {
    margin: 0;
}

.small {
    font: var(--font-sm);
}

.medium {
    font: var(--font-md);
}

.large {
    font: var(--font-lg);
}

.default {
    color: var(--color-base-text);
}

.error {
    color: var(--color-error);
}
