.text {
    color: var(--color-base-text);
    text-decoration: none;
}

.primary {
    color: var(--color-primary);
}

.primary-inverted {
    color: var(--color-primary-inverted);
}

.secondary {
    color: var(--color-secondary);
}

.secondary-inverted {
    color: var(--color-secondary-inverted);
}
