name: Lint, test, build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
permissions:
  contents: write
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: true
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [17.x]
    steps:
      - name: Get repository code
        uses: actions/checkout@v3
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache deps
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependecies
        run: npm ci
      - name: Lint TypeScript
        run: npm run lint
      - name: Lint styles
        run: npm run stylelint
  test:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    strategy:
      matrix:
        node-version: [17.x]
    steps:
      - name: Get repository code
        uses: actions/checkout@v3~
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache deps
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependecies
        run: npm ci
      - name: Run unit tests
        run: npm run test:unit
      - name: Build storybook
        run: npm run storybook:build
      - name: Run screenshot tests
        id: screenshots
        run: npm run test:ui:ci
      - name: Run report
        if: ${{ failure() && steps.screenshots.conclusion == 'failure'}}
        run: npm run test:ui:report
      - name: Move .loki to reports/
        if: ${{ failure() && steps.screenshots.conclusion == 'failure'}}
        run: mv .loki reports/
      - name: Setup Pages
        if: always()
        uses: actions/configure-pages@v2
      - name: Upload reports
        if: always()
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'reports'
      - name: Deploy to GitHub Pages
        if: always()
        id: deployment
        uses: actions/deploy-pages@v1
  build:
    needs: [lint, test]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [17.x]
    steps:
      - name: Get repository code
        uses: actions/checkout@v3~
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache deps
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependecies
        run: npm ci
      - name: Build production project
        run: npm run build:prod
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          path: dist
          name: build-files